<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Node SMS</title>
  </head>

  <body>
    <div class="container">
      <h2>Send a message</h2>
      <input type="tel" name="number" id="number" placeholder="Enter your number" />
      <input type="text" name="message" id="message" placeholder="Enter your message" />
      <input type="button" id="button" value="Send" />
      <p class="response"></p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
